/* CSS Reset */
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

*,
::before,
::after {
    box-sizing: border-box;
    /* outline:1px solid red; */
}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 10px 20px;
    /* border:1px solid red; */
}

h1,
h2,
h3,
p,
div,
ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul,
ol {
    display: flex;
    flex-wrap: wrap;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* Styling */

/* Header */

.socialLinks li {
    font-size: 18px;
    margin-right: 10px;
}

.container.header {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #1F2937;
    font-family: roboto;
    color: white;
    gap: 10px;
    /* border: 3px solid yellow; */
    justify-content: center;
}

.logo {
    width: 60px;
    border-radius: 50%;
    /* border: 1px solid rgb(92, 221, 23); */
}

.headerPart1,
.headerPart2 {
    display: flex;
}

.headerPart1 {
    justify-content: space-between;
    align-items: center;
}

.headerPart2 {
    justify-content: space-between;
    flex-wrap: wrap;
}

.signUpSec .headerMainTitle {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.signUpSec p {
    font-size: 18px;
    color: #E5E7EB;
}

.signUpSec,
.headerSignUpImg {
    flex: 1;
}

.headerSignUpImg {
    display: flex;
    justify-content: flex-end;
    /* border:1px solid red; */
}

.headerPart2 img {
    width: 500px;
    /* Remove when media query  */
    min-width: 100px;
    height: 230px;
}

/* Cards Section */

.cardsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    /* border:1px solid red; */
    width: 100px;
    padding: 10px;
}

/* .card img{
    -webkit-box-shadow: 0px 0px 3px 1px rgba(235,38,235,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(235,38,235,1);
    box-shadow: 0px 0px 3px 1px rgba(235,38,235,1);
    border-radius: 15%;
} */

.cardText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardsHeader {
    margin-bottom: 10px;
    text-align: center;
}

/* Reviews Section */

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 230px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.reviewHeading {
    display: flex;
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    /* color: #3e6aa8; */
    color: #29528d;
}

.review {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px;
}

.review .reviewContent,
.review .reviewAuthor {
    display: flex;
}

.reviewContent {
    justify-content: flex-start;
    align-items: center;
    word-wrap: break-word;
    font-size: 1.5rem;
    color: #253750;
    font-style: italic;
}

.reviewAuthor {
    justify-content: flex-end;
    padding-right: 30px;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    align-items: center;
}

/* Sign Up

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    border:4px solid rgb(80, 231, 34);
    background-color: #3882F6;
    Remove at media query
    flex-wrap: wrap;
    Color: white;
    min-height: 200px;
    align-content: center;
    gap: 5px;
}

.signUpHeading {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.signUpText {
    flex: 7;
}

.signUpButton {
    display: flex;
    align-items: center;
    flex: 3;
    justify-content: center;
}

#signUpNow {
    background-color: transparent;
    color: white;
    padding: 10px 35px;
} */

/* Footer */
/* Default padding ovverrided */
.container.footer {
    display: flex;
    min-height: 35px;
    padding: 5px;
    color: white;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerContent sup {
    font-size: .6rem;
}