/* CSS Reset */
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

*,
::before,
::after {
    box-sizing: border-box;
    /* outline:1px solid red; */
}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    /* border:1px solid red; */
}

h1,
h2,
h3,
p,
div,
ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul,
ol {
    display: flex;
    flex-wrap: wrap;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* Styling */

/* Header */

.socialLinks li {
    font-size: 18px;
    margin-right: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #1F2937;
    font-family: roboto;
    color: white;
    gap: 10px;
    /* border: 3px solid yellow; */
    justify-content: center;
}

.logo {
    width: 60px;
    border-radius: 50%;
    /* border: 1px solid rgb(92, 221, 23); */
}

.headerPart1,
.headerPart2 {
    display: flex;
}

.headerPart1 {
    justify-content: space-between;
    align-items: center;
}

.headerPart2 {
    justify-content: space-between;
    flex-wrap: wrap;
}

.signUpSec,
.headerSignUpImg {
    flex: 1;
}

.headerSignUpImg {
    display: flex;
    justify-content: flex-end;
    /* border:1px solid red; */
}

.headerPart2 img {
    width: 500px;
    /* Remove when media query  */
    min-width: 100px;
}

/* Cards Section */

.cardsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card {
    /* border:1px solid red; */
    width: 100px;
    padding: 10px;
}

.cardText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardsHeader {
    margin-bottom: 10px;
    text-align: center;
}

/* Reviews Section */

/* .reviews *{
    outline:1px solid red;
} */

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    /* border:1px solid red; */
}

.review {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.review .reviewContent,
.review .reviewAuthor {
    display: flex;
    width: 80%;
}

.reviewContent {
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.reviewAuthor {
    /* border:1px solid red;     */
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    text-align: left;
}

/* Sign Up */

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:4px solid rgb(80, 231, 34); */
    background-color: #3882F6;
    align-items: stretch;
    /* Remove at media query */
    flex-wrap: wrap;
    Color: white;
    min-height: 200px;
    align-content: center;
    gap: 5px;
}

.signUpText {
    flex: 7;
}

.signUpButton {
    display: flex;
    align-items: center;
    flex: 3;
    justify-content: center;
}

#signUpNow {
    background-color: transparent;
    color: white;
    padding: 10px 35px;
}

